{% set currentPage = 'imprint' %}
{% extends "layout/layout.html" %}
{% block content %}
<figure class="featured">
	<img src="_assets/small/4.jpg" srcset="_assets/4.jpg 1600w, _assets/small/4.jpg 800w" sizes="100vw" alt="" />
</figure>
<article>
	<h2>Impressum</h2>
	<p>Verantwortlich gemäß §5 TMG</p>
	<p>Saeid Mohadjer<br />
		Alban-Stolz-Str. 20<br />
		79108 Freiburg<br />
		Tel. +49 176 8826 9966<br />
		<a href="mailto:info@saeidmohadjer.com">info@saeidmohadjer.com</a>
	</p>
	<h4>Haftungsausschluss</h4>
	<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehme ich keine Haftung für die Inhalte externer Links. Für den Inhalt verlinkter Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
</article>
{% endblock %}
