
{% set currentPage = 'contact' %}
{% extends "layout/layout.html" %}
{% block content %}
<figure class="featured has-parallax">
	<img src="_assets/small/8.jpg" srcset="_assets/8.jpg 1600w, _assets/small/8.jpg 800w" sizes="100vw" alt="" />
</figure>
<article>
	<h2>Kontakt</h2>
	<p>Talstr. 1 a<br />
		79102 Freiburg
	</p>
	<p>Tel. 0761 7074977<br />
		Fax 0761 7074977
	</p>
	<p><a href="mailto:info@silviamohadjer.de">info@silviamohadjer.de</a></p>
	<p>Bitte rufen Sie mich zur Terminvereinbarung persönlich an.</p>
	<h4>Telefonische Erreichbarkeit</h4>
	<p>Am besten erreichen Sie mich jeweils <strong>dienstags und donnerstags</strong> zwischen <strong>8:00 - 8:30 Uhr</strong>. Ansonsten bin ich in der Regel montags und freitags in den 10 min. vor der vollen Stunde zwischen 11:00 - 18:00 Uhr telefonisch erreichbar.</p>
</article>
{% endblock %}
