{% set currentPage = 'about' %}
{% extends "layout/layout.html" %}
{% block content %}
<figure class="featured">
	<img src="_assets/small/3.jpg" srcset="_assets/3.jpg 1600w, _assets/small/3.jpg 800w" sizes="100vw" alt="" />
</figure>
<article>
	<h2>Lorem ipsum dolor sit amet</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<section class="expandable">
		<h4 class="expandable_btn">Duis aute irure dolor </h4>
		<div class="expandable_content">
			<ul>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
				<li>Ut enim ad minim veniam, quis nostrud exercitation.</li>
				<li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			</ul>
		</div>
	</section>
	<section class="expandable">
		<h4 class="expandable_btn">Excepteur sint occaecat cupidatat </h4>
		<div class="expandable_content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>
</article>
{% endblock %}
