body {
	margin: 0;
	font: normal normal 1em/1em arial, verdana, sans-serif;
}

li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

a:link {
	color: #06c;
}

a:visited {
	color: #785598;
}

a:hover {
	text-decoration: underline;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 10px 0;
}

nav {
	font-size: 0.9em;
	box-sizing: border-box;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	overflow-y: auto;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
	list-style: none;
	margin-bottom: 0;
}

nav a {
	color: #666;
	text-decoration: none;
	display: block;
	padding: 13px 10px 13px 15px;
	border-bottom: solid 1px #aaa;
	font-size: 1.1em;
}

nav a:link, nav a:visited {
	color: #666;
}

nav li.selected a,
nav li a:hover {
	background: #ccc;
	text-decoration: none;
}

header {
	margin: 0 10px 25px;
	overflow: auto;
}

header p {
	font-size: 1.4em;
	line-height: 1em;
	margin-bottom: 0.1em;
	font-weight: bold;
	margin-top: 0.5em;
}

header p span {
	display: block;
    font-size: 0.7em;
    margin-bottom: 0.1em;
}

header h1 {
	margin: 0;
	font-size: 0.85em;
	line-height: 1.25em;
	color: #333;
	font-weight: normal;
}

.featured {
	width: 100%;
	max-width: 1600px;
	margin: 1em auto;
	overflow: hidden;
	background: #eee;
}

.featured img {
	width: 100%;
	vertical-align: top;
}

h2, p, dd, dt, li {
	line-height: 1.35em;
}

h4, h5 {
	margin-bottom: 0;
}

h4 + p,
h4 + ul,
h4 + h5,
h5 + p {
	margin-top: 5px;
}

article {
	border-bottom: solid 1px #ccc;
	padding-bottom: 20px;
	margin: 0 10px 20px;
}

article ul {
	padding-top: 10px;
	padding-left: 0;
	padding-bottom: 10px;
	list-style-position: inside;
}

article ul li {
	margin-left: 1.15em;
	text-indent: -0.85em;
}

article:last-of-type {
	margin-bottom: 10px;
}

footer {
	padding: 0 10px 20px;
	font-size: 0.8em;
}

footer,
footer a:link, footer a:visited {
	color: #999;
}

footer a {
	text-decoration: underline;
}

footer span {
	display: block;
	margin-top: 10px;
}

.expandable {
	margin-bottom: 10px;
}

.expandable h4,
.expandable ul {
	margin-top: 0;
}

.expandable .expandable_content > :first-child {
	padding-top: 10px;
	margin-top: 0;
}

.expandable .expandable_content > :last-child {
	margin-bottom: 0;
	padding-bottom: 10px;
}

.expandable .fa {
	color: #1A6FA2;
	margin-right: 5px;
}

.expandable_btn {
	cursor: pointer;
	color: #06c;
	background: url(../img/down.svg) no-repeat;
	padding-left: 22px;
	background-size: 16px 16px;

	.expanded & {
		background-image: url(../img/up.svg);
	}
}

@media only screen and (min-width: 768px) {
	body {
		background: #fff;
	}

	nav {
		position: static;
		text-align: right;
		font-size: 1em;
		display: block;
		margin-right: 20px;
		padding: 10px 0 50px;
		width: auto;
	}

	nav ul {
		float: right;
	}

	nav li {
		float: left;
		margin-left: 20px;
	}

	nav li a:hover {
			background: none;
			color: #000;
	}

	nav li.selected a {
			background: none;
			color: #000;
			font-weight: bold;
			text-decoration: none;
			cursor: default;
	}

	nav a {
		border: none;
		padding: 15px 0;
	}

	header {
		background: rgba(255,255,255,0.85);
		margin: 75px 0 0;
		padding: 20px 30px 40px 20px;
		position: absolute;
		z-index: 100;
	}

	header p {
		font-size: 1.6em;
	}

	header p span {
		font-size: 0.6em;
		margin-bottom: 0;
	}

	header h1 {
		font-size: 1em;
	}

	header h1 span {
		display: inline;
		font-size: 0;
	}

	header h1 span:before {
		content: "|";
		color: #999;
		vertical-align: 1px;
		font-size: 18px;
	}

	h2 {
		font-size: 1.6em;
	}

	article {
		width: 70%;
		margin-left: 20px;
	}

	article:last-of-type {
		margin-bottom: 50px;
		border-bottom: none;
	}

	footer {
		border-top: solid 1px #ccc;
		padding: 15px 20px;
	}

	footer span {
		float: right;
		margin: 0;
	}
}

@media only screen and (min-width: 1024px) {
	.featured {
		padding-bottom: 0;
		height: 432px;
	}

	.featured img {
		margin-top: -10%;
	}

	.about .featured {
		text-align: right;
		background: #c5dfed;
	}

	.about .featured img {
		height: 100%;
		width: auto;
		margin-top: 0;
	}
}

@media only screen and (min-width: 1064px) {
	nav, article {
		width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}

	article {
		padding-right: 300px;
	}
}

@media only screen and (min-width: 1280px) {
	header {
			margin-top: 100px;
	}

	.featured {
		height: 500px;
	}

	.featured img {
		margin-top: -15%;
	}
}

@media only screen and (min-width: 1600px) {
	.featured img {
		margin-top: -20%;
	}

	header {
		margin-left: calc((100% - 1600px)/2);
	}
}
